body {
  background-color: #D6D6D6;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 400px;
  height: 380px;
  background: white;
  border-Radius: 10px;
  border: solid black 1px;
}

.input {
  margin-top: 20px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
}

.button {
  margin-top: 30px;
  color: white;
  background-color: #368EE0;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  width: 360px;
  height: 50px;
}

.line {
  margin-top: 40px;
  height: 1px;
  width: 350px;
  background-color: black;
}

.button2 {
  margin-top: 20px;
  color: white;
  background-color: #2EDA23;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 50px;
}

.white {
  background-color: white;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 400px;
  height: 420px;
  background: white;
  border-Radius: 10px;
  border: solid black 1px;
}

